@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 180 95% 8%;
    --card: 0 0% 100%;
    --card-foreground: 180 95% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 180 95% 8%;
    --primary: 180 95% 22%;
    --primary-foreground: 0 0% 100%;
    --secondary: 179 94% 14%;
    --secondary-foreground: 0 0% 100%;
    --muted: 157 50% 95%;
    --muted-foreground: 180 95% 22%;
    --accent: 157 50% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 180 30% 85%;
    --input: 180 30% 85%;
    --ring: 180 95% 22%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 179 94% 8%;
    --foreground: 0 0% 100%;
    --card: 179 94% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 179 94% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 180 95% 22%;
    --primary-foreground: 0 0% 100%;
    --secondary: 179 94% 14%;
    --secondary-foreground: 0 0% 100%;
    --muted: 179 94% 18%;
    --muted-foreground: 157 50% 70%;
    --accent: 157 50% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 179 94% 20%;
    --input: 179 94% 20%;
    --ring: 157 50% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

